.hide,
footer {
  display: none;
}

@media screen and (max-width: 576px) {
  header {
    padding: 40px 16px;
  }

  .hero-title {
    font-size: 22px;
    padding: 50px 0 36px 0;
  }

  /* Action */

  .action {
    padding: 50px 16px;
  }

  .action-container {
    flex-direction: column-reverse;
  }

  .action-right img {
    width: 100%;
  }

  .action-title {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
  }

  .action-description {
    font-size: 18px;
    line-height: 26px;
    margin: 18px 0 22px 0;
    text-align: center;
  }

  .button {
    padding: 8px 36px;
    width: 100%;
    font-size: 14px;
  }

  /* product User */

  .productive-user {
    padding: 0 16px 0;
  }

  .productive-user-container {
    padding: 25px 16px;
  }

  .productive-user-title {
    font-size: 26px;
  }

  .productive-user-items {
    margin-top: 28px;
    flex-direction: column;
    gap: 16px;
  }

  .productive-user-item p {
    font-size: 24px;
    font-size: 46px;
  }

  .productive-user-item span {
    font-size: 16px;
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  header {
    padding: 50px 40px;
  }

  .hero-title {
    font-size: 50px;
    padding: 60px 0 36px 0;
  }

  /* Action Area */

  .action {
    padding: 50px 40px;
  }

  .action-right img {
    width: 100%;
  }

  .action-title {
    font-size: 34px;
  }

  .action-description {
    font-size: 20px;
    line-height: 24px;
  }

  /* Productive User */

  .productive-user {
    padding: 0 40px 0;
  }

  .productive-user-item p {
    font-size: 60px;
  }

  .productive-user-container {
    padding: 50px 40px;
}
}
