.hide,
footer {
  display: none;
}

@media screen and (max-width: 576px) {
  header {
    padding: 40px 16px;
  }

  .hero-title {
    font-size: 22px;
    padding: 50px 0 36px 0;
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  header {
    padding: 50px 40px;
  }

  .hero-title {
    font-size: 50px;
    padding: 60px 0 36px 0;
  }
}
