/* Google Font -> Inter, Raleway */
/* File: landing-launchpad-assignment-1/styles/style.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Classes */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.button {
  background-color: #4e47ff;
  border: none;
  padding: 12px 36px;
  border-radius: 12px;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.button:hover {
  background-color: #3c36e6;
}

img {
  width: 100%;
}

/* Navbar Area */

header {
  padding: 50px 150px;
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 2rem;
  font-weight: 900;
  color: #4e47ff;
}

.hero-title {
  font-size: 65px;
  font-weight: 700;
  text-align: center;
  color: #252432;
  padding: 200px 0 36px 0;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* See It in Action */

.action {
  padding: 115px 150px;
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-title {
  font-size: 42px;
  font-weight: 700;
  color: #252432;
}

.action-description {
  font-size: 24px;
  line-height: 30px;
  color: #252432;
  opacity: 0.5;
  margin: 32px 0 22px 0;
}

.action-right img {
  border-radius: 48px;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  -ms-border-radius: 48px;
  -o-border-radius: 48px;
}

/* Joined Thousands of Productive Users */

.productive-user {
  padding: 0 150px 0;
}

.productive-user-container {
  background-color: #e5e7ff;
  padding: 50px 142px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
}

.productive-user-title {
  text-align: center;
  color: #252432;
  font-size: 38px;
  font-weight: 700;
}

.productive-user-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  text-align: center;
}

.productive-user-item p {
  font-size: 24px;
  color: #4e47ff;
  font-size: 88px;
  font-weight: 700;
}

.productive-user-item span {
  color: #000;
  opacity: 0.5;
  font-size: 20px;
}

/* What our users say */

.what-our-users-say {
  padding: 100px 150px;
}

.what-our-users-say-title {
  text-align: center;
  color: #252432;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 50px;
}

.what-our-users-say-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.what-our-users-say-item-stars {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.what-our-users-say-item-title {
  font-size: 30px;
  font-weight: 700;
  color: #252432;
  margin-bottom: 16px;
}

.what-our-users-say-item-description {
  font-size: 18px;
  line-height: 30px;
  color: #252432;
  opacity: 0.5;
  margin-bottom: 24px;
}

.what-our-users-say-item-user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.what-our-users-say-item-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.what-our-users-say-item-user-name {
  font-size: 20px;
  font-weight: 700;
  color: #8987A1;
}

.what-our-users-say-item-user-date {
  font-size: 20px;
  color: #8987A1;
  opacity: 0.8;
}

/* Let’s Get in Touch */

.lets-get-in-touch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 150px;
}

.lets-get-in-touch-title {
  font-size: 97px;
  font-weight: 700;
}

.lets-get-in-touch-container-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
}

.lets-get-in-touch-container-form input {
  width: 100%;
  margin-top: 10px;
  padding: 20px 32px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #d6dded;
  outline: none;
}

.lets-get-in-touch-container-form textarea {
  width: 100%;
  padding: 20px 32px 85px 32px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #d6dded;
  outline: none;
  margin-bottom: 20px;
}

/* footer */

footer {
  padding: 100px 150px;
  text-align: center;
  background-color: #fff;
}

.f-description {
  color: #8987a1;
  padding: 8px 0 44px 0;
  width: 530px;
  margin: 0 auto;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 48px;
}

ul li a {
  color: #8987a1;
  text-decoration: none;
}
